body {
    background-color: #4ba14b;
    color: #ece2d6;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    height: 100vh;
}

a {
    text-decoration: none;
}

.mainApp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.logo {
    font-size: 4.5rem;
    margin: 25px 0 0;
    color: #e17537;
}

.profileHeader a h2 {
    margin: 45px 18px;
}

.profileHeader {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    padding: 25px 5% 20px;
    background-color: #adedad;
}
.profileHeader a {
    color: #e17537;
}
.profileHeader a:hover {
    color: #a11d16;
}
.navRight {
    display: flex;
}
#logout {
    margin-right: 60px;
}
.friendDisplay img,
.profilePicture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #e17537;
}
/* modal */
.modalForm,
.userCell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalWindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 40vw;
    height: 400px;
    border: 8px solid #f6ecea;
    border-radius: 15px;
    top: 25%;
    background-color: rgb(126, 60, 21, 0.94);
    margin: auto;
}
.closeModal {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}
label {
    border-radius: 2px;
    border: none;
    font-size: 22px;
    margin: 10px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    width: max-content;
    text-align: center;
    font-weight: normal;
    height: 28px;
    display: inline-block;
}
#input-tag {
    display: none;
}

input {
    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: #f6ecea;
    outline: 0;
    color: #a11d16;
}

input::placeholder {
    color: #a11d16;
}
p {
    font-size: 1.2rem;
}
button {
    border-radius: 8px;
    border: none;
    width: 350px;
    height: 50px;
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    background-color: #e14f06;
    color: #f6ecea;
}
h1 {
    font-size: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    margin-top: auto;
    margin-bottom: 20%;
}

button:hover {
    background-color: #a11d16;
}

.error {
    color: #993333;
    font-weight: bolder;
}

/* Welcome section */
#welcome {
    display: flex;
    width: 100%;
}

.welcome-hero {
    width: 60vw;
    font-size: 4rem;
    line-height: 0.95;
}

.welcome-paths {
    background-color: #adedad;
    color: #e17537;
    width: 40vw;
}
.welcome-paths a {
    color: #e17537;
}
.welcome-paths a:hover {
    color: #a11d16;
}
.welcome-hero,
.welcome-paths {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* login */

.registration-link {
    margin-top: auto;
}

/* profile */

.userProfile .profilePicture,
.imageSection img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: #adedad 5px solid;
}
.userProfile,
.profilePlants {
    display: flex;
    justify-content: space-evenly;
}
/* plant search section */

.exploreElement {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 100vw;
}

.plantExplorer {
    display: flex;
}
.plantSearch .plantCell {
    margin: 0;
    padding: 0;
}
.plantSearch,
.singularPlant,
.matches,
.toTrade,
.wishlist {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: flex-start;
    align-items: center;
    height: 55vh;
    align-content: center;
    border: #adedad 5px solid;
    border-radius: 15px;
    padding: 20px;
}
.plantSearch:hover,
.singularPlant:hover,
.toTrade:hover,
.wishlist:hover {
    border: #e1eda4 6px solid;
}
.plantSearch {
    width: 25vw;
    align-items: flex-start;
}
.singularPlant {
    width: 55vw;
}
.singularPlantDisplay {
    display: flex;
}
.singularPlantInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.matches {
    border: none;
}
/* #full_match {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    align-self: flex-start;
} */

.fullMatch {
    color: #a11d16;
}

.matches h1,
.toTrade h1,
.wishlist h1 {
    align-self: center;
}

.plantList {
    height: 40vh;
    overflow-y: scroll;
}
.plantList h2 {
    margin-bottom: 50px;
}
.toTrade button,
.wishlist button {
    width: 200px;
    height: 40px;
    align-self: center;
    margin-top: 20px;
}

.singularPlant img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
/* .plantCell h3:hover {
    color: #a11d16;
} */
.matches .plantCell:hover {
    cursor: pointer;
}

.matches img {
    margin-top: 15px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
.matches h1 {
    margin-top: 0;
}

/* trade route */

.toTrade,
.wishlist {
    width: 20vw;
}
.matches {
    width: 40vw;
    height: 70vh;
}
.matches .plantCell {
    flex-direction: column;
    align-items: center;
    border: #adedad 8px solid;
    border-radius: 15px;
    width: 500px;
    padding: 20px;
}
.matches .plantCell:hover {
    border: #e1eda4 9px solid;
    border-radius: 15px;
    color: #ece2d6;
}
.matches h1 {
    font-size: 2.6rem;
}

.plantCell {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 25px 0;
    padding: 5px;
}
.plantCell:hover {
    border: 2px solid #e1eda4;
    border-radius: 5px;
    color: #993333;
}

.wishlistIcon {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #adedad;
    margin-right: 20px;
}

.wishlistCheck {
    display: flex;
}

.plantCell input {
    width: 20px;
    margin-right: 10px;
    padding-right: 10px;
    align-self: center;
}
.wishlist .plantCell,
.toTrade .plantCell {
    width: 300px;
}
.matches .plantList {
    height: 60vh;
}

/* match modal */

.modalWindow.matchModal {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    width: 75vw;
    height: 700px;
    top: 100px;
    background-color: rgba(6, 50, 3, 0.94);
}

.modalWindow.matchModal img {
    object-fit: cover;
    height: 400px;
    width: 400px;
    border-radius: 15px;
}

.matchInfo {
    width: 400px;
}
