body {
    background-color: #4ba14b;
    color: #ece2d6;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
/* main {
    height: 100vh;
} */

a {
    text-decoration: none;
}

.mainApp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.logo {
    font-size: 4.5rem;
    margin: 25px 0 0;
    color: #e17537;
}

.profileHeader a h2 {
    margin: 45px 18px;
}

.profileHeader {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    padding: 25px 5% 20px;
    background-color: #adedad;
}
.profileHeader a {
    color: #e17537;
}
.profileHeader a:hover {
    color: #063203;
}
.navRight {
    display: flex;
}
#logout {
    margin-right: 60px;
}
.friendDisplay img,
.profilePicture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #e17537;
}
.profilePicture:hover {
    border: 6px solid #063203;
}
/* modal */
.modalForm,
.userCell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalWindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 40vw;
    height: 400px;
    border: 8px solid #f6ecea;
    border-radius: 15px;
    top: 25%;
    background-color: rgba(6, 50, 3, 0.94);
    margin: auto;
}
.closeModal {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}
label {
    border-radius: 2px;
    border: none;
    font-size: 22px;
    margin: 10px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    width: max-content;
    text-align: center;
    font-weight: normal;
    height: 28px;
    display: inline-block;
}
#input-tag {
    display: none;
}

input {
    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: #f6ecea;
    outline: 0;
    color: #a11d16;
}

input::placeholder {
    color: #a11d16;
}
p {
    font-size: 1.2rem;
}
button {
    border-radius: 8px;
    border: none;
    width: 350px;
    height: 50px;
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    background-color: #e14f06;
    color: #f6ecea;
}
h1 {
    font-size: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    margin-top: auto;
    margin-bottom: 20%;
}

button:hover {
    background-color: #a11d16;
}

.error {
    color: #993333;
    font-weight: bolder;
}

/* Welcome section */
#welcome {
    display: flex;
    width: 100%;
}

.welcome-hero {
    width: 60vw;
    font-size: 4rem;
    line-height: 0.95;
}

.welcome-paths {
    background-color: #adedad;
    color: #e17537;
    width: 40vw;
}
.welcome-paths a {
    color: #e17537;
}
.welcome-paths a:hover {
    color: #063203;
}
.welcome-hero,
.welcome-paths {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* login */

.registration-link {
    margin-top: auto;
}

/* profile */

.userProfile .profilePicture,
.imageSection img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: #adedad 5px solid;
}
.userProfile .profilePicture.ownProfile {
    width: 250px;
    height: 250px;
}
.ownProfile img {
    width: 250px;
    height: 250px;
}

.userProfile .profilePicture:hover {
    border: #063203 6px solid;
}

.userProfile,
.profilePlants {
    display: flex;
    justify-content: space-evenly;
}
.userProfile {
    width: 90vw;
    margin: auto;
}
.userSection {
    width: 20vw;
    height: 55vh;
}

.profilePlants .wishlist {
    width: 250px;
}
.profilePlants .wishlist .plantCell {
    width: 200px;
    margin: 0;
}
.profilePlants {
    width: 55vw;
    justify-content: space-between;
}
.userProfile .toTrade {
    width: 30vw;
    height: 60vh;
}

.userProfile .plantList {
    height: 50vh;
}

.userSection button,
.toggleButtons button {
    width: 200px;
    height: 35px;
    font-size: 18px;
}
.userSection textarea {
    width: 250px;
    height: 100px;
    margin: 20px 0;
}

.toTrade .plantCell.tradeCell {
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 15px;
    width: 450px;
}

.weatherIcon {
    float: right;
    width: 75px;
}
.plantCell.tradeCell:hover {
    border: #e1eda4 4px solid;
    border-radius: 15px;
}
.plantCell.tradeCell img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 20px;
}
.wishlistCheck .fullMatch {
    margin-left: 20px;
}
/* other profile */

.plantCell.otherWishlist {
    display: flex;
    flex-direction: column;
}

/* plant search section */

.exploreElement {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 100vw;
}

.plantExplorer {
    display: flex;
}
.plantSearch .plantCell {
    margin: 0;
    padding: 0;
}
.plantSearch,
.singularPlant,
.matches,
.toTrade,
.wishlist {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: flex-start;
    align-items: center;
    height: 55vh;
    align-content: center;
    border: #adedad 5px solid;
    border-radius: 15px;
    padding: 20px;
}
.plantSearch:hover,
.singularPlant:hover,
.toTrade:hover,
.wishlist:hover {
    border: #e1eda4 6px solid;
}
.plantSearch {
    width: 25vw;
    align-items: flex-start;
}
.singularPlant {
    width: 55vw;
}
.singularPlantDisplay {
    display: flex;
}
.singularPlantInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.matches {
    border: none;
}

.fullMatch {
    color: #a11d16;
}

.matches h1,
.toTrade h1,
.wishlist h1 {
    align-self: center;
}

.plantList {
    height: 35vh;
    overflow-y: scroll;
}
.plantList h2 {
    margin-bottom: 50px;
}
.toTrade button,
.wishlist button {
    width: 200px;
    height: 40px;
    align-self: center;
    margin-top: 20px;
}

.singularPlant img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.noSingularPlant {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("/background.jpg") no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.noSingularPlant h1 {
    font-size: 5rem;
    line-height: 1.5;
    padding: 30px;
}

.matches .plantCell:hover {
    cursor: pointer;
}

.matches img {
    margin-top: 15px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
.matches h1 {
    margin-top: 0;
}

/* trade route */

.toTrade,
.wishlist {
    width: 20vw;
}

.matches {
    width: 40vw;
    height: 70vh;
}
.matches .plantCell {
    flex-direction: column;
    align-items: center;
    border: #adedad 8px solid;
    border-radius: 15px;
    width: 500px;
    padding: 20px;
}
.matches .plantCell:hover {
    border: #e1eda4 9px solid;
    border-radius: 15px;
    color: #ece2d6;
}
.matches h1 {
    font-size: 2.6rem;
}

.plantCell {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 25px 0;
    padding: 5px;
}
.plantCell:hover {
    border: 2px solid #e1eda4;
    border-radius: 5px;
    color: #063203;
}

.wishlistIcon {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #adedad;
    margin-right: 20px;
}

.wishlistCheck {
    display: flex;
}

.plantCell input {
    width: 20px;
    margin-right: 10px;
    padding-right: 10px;
    align-self: center;
}
.wishlist .plantCell,
.toTrade .plantCell {
    width: 300px;
}
.matches .plantList {
    height: 60vh;
}

/* match modal */

.modalWindow.matchModal {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    width: 75vw;
    height: 700px;
    top: 100px;
    background-color: rgba(6, 50, 3, 0.94);
}

.modalWindow.matchModal img {
    object-fit: cover;
    height: 400px;
    width: 400px;
    border-radius: 15px;
}
#modalUser {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: #adedad 5px solid;
}
#modalUser:hover {
    border: #e1eda4 6px solid;
    cursor: pointer;
}

.matchInfo {
    height: 80%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* news route (latest plants and users) */

.searchContainer {
    width: 90vw;
    display: flex;
    margin-top: 50px;
}

.latestPlants {
    display: flex;
    width: 70vw;
    overflow-x: auto;
    white-space: nowrap;
}

.searchInfo input {
    width: 250px;
}

.latestPlants .plantCell,
.searchInfo {
    flex-direction: column;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 10px 25px;
    padding: 20px;
}
.searchInfo {
    display: flex;
    width: 350px;
    margin: 0;
    padding-right: 0;
}
.latestPlants img {
    width: 250px;
    height: 250px;
    margin: 0 0 20px;
    border-radius: 15px;
}
.latestPlants .plantCell h4 {
    margin: 10px 0px;
}

.notFoundContainer {
    margin: auto;
}

.notFound img {
    border-radius: 15px;
}
.userCell img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
}
.userCell img:hover {
    border: #e1eda4 6px solid;
}
.userCell.plantCell {
    margin: 0;
    width: 200px;
}
.noUser img {
    width: 400px;
    height: 150px;
    object-fit: cover;
}
.noUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* garden collections element */

.toggleButtons {
    display: flex;
    justify-content: space-between;
}
.toggleButtons button {
    margin: 30px 0;
    box-shadow: 0px 4px 7px rgba(3, 38, 7, 0.5);
}
.garden {
    width: 55vw;
    height: 60vh;
    border: #adedad 5px solid;
    border-radius: 15px;
    padding: 20px;
}

.gardenNav,
.gardenStats {
    display: flex;
    justify-content: space-between;
}
.gardenNav {
    width: 100%;
    height: 80px;
}
.gardenStats {
    width: 40%;
}
.uploadButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.breakBar {
    border: #adedad 1px solid;
    margin: 0 -20px 20px;
}
.gardenStats div {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gardenStats div h4 {
    margin: 5px 0;
}

.toggleButtons button.pressed {
    margin-top: 35px;
    width: 195px;
    box-shadow: inset 0px 0px 5px rgba(3, 38, 7, 0.5);
}
/* my garden styling */

.plantList.myGarden {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
}

.plantList.myGarden img {
    object-fit: cover;
    height: 280px;
    width: 280px;
    margin: 10px;
    cursor: pointer;
    /* border-radius: 15px; */
}

/* myGardenModal */

.modalWindow.matchModal.myGardenModal {
    left: 0;
    right: 0;
    width: 60vw;
    flex-direction: column;
}
.modalWindow.matchModal.myGardenModal img {
    width: 500px;
    height: 500px;
}

/* gardens */
.gardens {
    display: flex;
    width: 90vw;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 40px 0;
}

.userIcon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #adedad;
    margin-right: 20px;
}
.userInfo {
    display: flex;
    align-items: center;
}

.gardensPlant {
    width: 400px;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}

.gardenCell {
    padding: 25px;
}

.gardenCell:hover {
    border: #e1eda4 2px solid;
    border-radius: 8px;
}

.gardensModal {
    left: 0;
    right: 0;
    position: fixed;
}
