body {
    background-color: #4ba14b;
    color: #f0faf0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    height: 100vh;
}

.mainApp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.logo {
    font-size: 4.5rem;
    margin: 25px 0 0;
    color: #e17537;
}

.profileHeader a h2 {
    margin: 45px 18px;
}

.profileHeader {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    padding: 25px 5% 20px;
    background-color: #adedad;
}
.profileHeader a {
    color: #e17537;
}
.profileHeader a:hover {
    color: #a11d16;
}
.navRight {
    display: flex;
}
#logout {
    margin-right: 60px;
}
.friendDisplay img,
.profilePicture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #e17537;
}
/* modal */
.modalForm,
.userCell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalWindow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 40vw;
    height: 400px;
    border: 8px solid #f6ecea;
    border-radius: 15px;
    top: 25%;
    background-color: rgb(126, 60, 21, 0.94);
    margin: auto;
}
.closeModal {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}
label {
    border-radius: 2px;
    border: none;
    font-size: 22px;
    margin: 10px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    width: max-content;
    text-align: center;
    font-weight: normal;
    height: 28px;
    display: inline-block;
}
#input-tag {
    display: none;
}

/* profile */

.userProfile .profilePicture,
.imageSection img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 0;
    border: 0;
}
/* plant search section */

.exploreElement {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.plantExplorer {
    display: flex;
}

.plantSearch,
.singularPlant {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: flex-start;
    align-items: flex-start;
    height: 85vh;
    margin-top: 100px;
    align-content: center;
}
.plantList {
    height: 60vh;
    overflow-y: scroll;
}
.plantList h2 {
    margin-bottom: 50px;
}
.singularPlant img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
input {
    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    background-color: #f6ecea;
    outline: 0;
    color: #a11d16;
}
.plantCell h3:hover {
    color: #a11d16;
    cursor: pointer;
}
input::placeholder {
    color: #a11d16;
}
p {
    font-size: 1.2rem;
}
button {
    border-radius: 8px;
    border: none;
    width: 350px;
    height: 50px;
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    background-color: #e14f06;
    color: #f6ecea;
}
h1 {
    font-size: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    margin-top: auto;
    margin-bottom: 20%;
}

button:hover {
    background-color: #a11d16;
}

.error {
    color: #993333;
    font-weight: bolder;
}

/* Welcome section */
#welcome {
    display: flex;
    width: 100%;
}

.welcome-hero {
    width: 60vw;
    font-size: 4rem;
    line-height: 0.95;
}

.welcome-paths {
    background-color: #adedad;
    color: #e17537;
    width: 40vw;
}
.welcome-paths a {
    color: #e17537;
}
.welcome-paths a:hover {
    color: #a11d16;
}
.welcome-hero,
.welcome-paths {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* login */

.registration-link {
    margin-top: auto;
}
